{% extends 'base.html.twig' %}

{% block title %}Category index
{% endblock %}

{% block body %}
	<h1>Category index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th>Picture</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for category in categories %}
				<tr>
					<td>{{ category.name }}</td>
					<td>{{ category.description }}</td>
					<td><img class="category-picture" src="{{asset(category_pictures_dir ~ category.picture)}}"/></td>
					<td>
						<a href="{{ path('category_show', {'id': category.id}) }}">show</a>
						<a href="{{ path('category_edit', {'id': category.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('category_new') }}">Create new</a>
{% endblock %}
