{% extends 'base.html.twig' %}

{% block title %}Category
{% endblock %}

{% block body %}
	<h1>Category</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Name</th>
				<td>{{ category.name }}</td>
			</tr>
			<tr>
				<th>Description</th>
				<td>{{ category.description }}</td>
			</tr>
			<tr>
				<th>Picture</th>
				<td><img class="category-picture" src="{{asset(category_pictures_dir ~ category.picture)}}"/></td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('category_index') }}">back to list</a>

	<a href="{{ path('category_edit', {'id': category.id}) }}">edit</a>

	<p>{{ include('category/_delete_form.html.twig') }}</p>
{% endblock %}
