{% extends 'base.html.twig' %}


{% block title %}Profil index
{% endblock %}

{% block body %}
	<h1>Profil index</h1>
	<div class="jumbotron">
		<div class="container">
			{{ form_start(form) }}

			<div class="form-row">

				<div class="col">
					{{ form_row(form.maxAge)}}
				</div>

				<div class="col">
					{{ form_row(form.minAge)}}
				</div>

				<div class="col">

					{{ form_widget(form.city)}}

				</div>

				<div class="col">
					<button class="button btn btn-primary">Filtrer</button>
				</div>

			</div>
			{{ form_end(form) }}
		</div>
	</div>
	<table class="table">
		<thead>
			<tr>
				<th>Picture</th>
				<th>Name</th>
				<th>Age</th>
				<th>Je recherche</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for profil in profils %}
				<tr>
					<td><img class="profil-picture" src="{{asset(profil_pictures_dir ~ profil.picture)}}"/></td>
					<td>{{ profil.name }}</td>
					<td>{{ profil.age ~ ' ans'}}</td>
					<td class="center"><img class="category-picture" src="{{asset(category_pictures_dir ~ profil.Mespreferences.picture)}}"/><br>{{ profil.Mespreferences.name}}</td>

					<td>
						<a href="{{ path('profil_show', {'id': profil.id}) }}">show</a>
						<a href="{{ path('profil_edit', {'id': profil.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="6">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('profil_new') }}">Create new</a>
{% endblock %}
