{% extends 'base.html.twig' %}

{% block title %}Profil
{% endblock %}

{% block body %}
	<h1>Profil
		{{ profil.name }}</h1>
	<td><img class="profil-picture" src="{{asset(profil_pictures_dir ~ profil.picture)}}"/></td>
	<table class="table">
		<tbody>

			<tr>
				<th>{{ profil.age ~ ' ans'}}</th>

			</tr>

			<tr>
				<th>Description</th>
				<td>{{ profil.description }}</td>
			</tr>

			<tr>
				<th>je suis</th>
				<td>{{ profil.type}}</td>
			</tr>

			<tr>
				<th>J'habite</th>
				<td>{{ profil.city}}</td>
			</tr>

			<tr>
				<th>Je cherche</th>
				<td>{{ profil.typesearch}}</td>
			</tr>

		</tbody>
	</table>

	<a href="{{ path('profil_index') }}">back to list</a>

	<a href="{{ path('profil_edit', {'id': profil.id}) }}">edit</a>

	{{ include('profil/_delete_form.html.twig') }}
{% endblock %}
